@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
   
    overflow-x: hidden;
    
}

html {
    scroll-behavior: smooth;
  }

/* This design for top Header */
.TopHeader{
    display: flex;
    justify-content: end;
    background-color: rgb(119, 2, 134);
    height: 2rem;
    width: 100vw;
   
}
.TopHeader_item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
    gap: 3px;
    color: #fff;
    cursor: pointer;
}
/* for slash */
.sla{
    font-size: larger;
}

/* end of Top Header */

/* for navbar */
.navbar{
    width: 100vw;
    position: sticky;
    top: 0;
}
/* header design */
.header{
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
}

.header_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.image{
    height: 120px;
}
/* end header */


/* Navbar start */


.navbar{
    background-color: #F65A29;
    color: #fff;
    padding: 0px 150px;
    box-shadow: 5px 7px 10px rgb(53, 52, 52);
    z-index: 99999;
   
}



.nav_items{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
 
    

}
.navbar a{
    color: #fff;
    text-decoration: none;
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    background-color: #0a0258;
    transition: 0.5s;
}

a i{
   
    padding-right: 13px;
}


/* end navbar */


/* start main */
/* main section core */
.syllabus_container{
    height: auto;
    
    background-color: #ffffff00;
}

.core_voc{
    margin-top: 3rem;
    /* height: 700px; */
    margin-left: 2rem;
    margin-right: 2rem;
    
}
/* 
.syllabus_category{
    
} */

.syllabus_category_head{
    font-size: 1.5em;
    font-weight: 700;
    color: #190d81;
}

.core_container{
    height: 400px;
    background-color: #ceccd42f;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.core_voc_sd , .core_voc_bank {
    background-color: #fff;
    height: 75%;
    width: 35%;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgb(85, 83, 83);
    overflow-y: hidden;
}

/*  */

.core_voc_sd_head{
    font-size: larger;
    font-weight: 500;
    text-align: center;
    margin: 4px;
    color:#F65A29;
}

.b_voc_img{
    height:82%;
    width: 98%;
    margin: auto;
}

.b_voc_img img{
    object-fit: cover;
    height: inherit;
    width: inherit;
    margin: 5px;
}

.b_voc_img img:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
  
.button_container{
    position: relative;
    top: -20px;
    display: flex;
    justify-content: space-around;
}

.view_syllbus{
    background-color: rgb(29, 175, 175);
    cursor: pointer;
    height: 25px;
    width: 70px;
    border: none;
    border-radius:2px ;
    color:#fff;
}

.view_syllbus:hover{
    background-color:aqua;
    color: #fff;
    transition: 1s;
}
.download_syllbus{
    background-color: green;
    cursor: pointer;
    height: 25px;
    width: 80px;
    border: none;
    border-radius:2px ;
    color: #fff;
}

.download_syllbus:hover{
    background-color: darkgreen;
    color: #fff;
    transition: 1s;
}

/* end main section core */

/* main section elective */

.elective_sub{
   
    height: auto;
    margin-top: 3rem;
    
    margin-left: 2rem;
    margin-right: 2rem;
}

.elective_sub_head{

    font-size: 1.5em;
    font-weight: 700;
    color: #190d81;

}

.elective_container{

    height: 300px;
   
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;

}

.elective_item{
    box-shadow: 2px 3px 12px black;
    background-color: #e0e0e6;
    height: 90%;
    width: 23%;
    border: 2px solid rgb(111, 111, 207);

}

.elective_head{
    color: #F65A29;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

.elective_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: #190d81;
    
}

.button_container_2{
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 2.3rem;
}
/* footer section */

.foot_parent{
    height: 250px;
    color: #fff;
    background-color:#38393a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_logo_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.discription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot_logo{
    text-align: center;
}
.foot_logo img{
    height: 120px;
}

.second_foot .add{
    font-size: 30px;
    color: #F65A29;
    font-weight:630;
}
.Address{
    padding-left: 20px;
}

.social_media{
    margin-top:30px ;
    display: flex;
    gap: 38px;
}
.copyright{
    background-color:#1a0272;
    color:#fff;
    height: 30px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}


.icons{
    color: #fff;
    font-size: 25px;
}

.icons:hover{
    color: #da6518;
    transition: 1s;
    transform: scale(1.1);
}

/* custom scroll bar */

::-webkit-scrollbar{
    width: 7px;
}


::-webkit-scrollbar-track{
    background-color:#d1e5ff;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(#da6518,#331fe7);
    border-radius: 20px;
    height: 20px;
}
